
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.category {
  .row {
    margin: 0;
  }
}

.category_field-name {
  color: gray;

  font-weight: 200;
  padding-right: 5px;

  &::after {
    content: ':';
  }
}
